
[class ^= "ex-"] {
transition: 1.5s;
}


/* ---ESERCIZIO 1--- */

.ex-1-square:hover {
  background-color: red;
}

/* ---ESERCIZIO 2--- */

.ex-2-square:active {
width: 100%;
}

/* ---ESERCIZIO 3--- */

.ex-3-square:hover {
  border-radius: 100%;
}

/* ---ESERCIZIO 4--- */

.ex-4-square:hover {
  opacity: 0;
}

/* ---ESERCIZIO 5--- */

.ex-5-square:hover {
  width: 100px;
  height: 100px;
}

.ex-5-square:active {
  width: 20px;
  height: 20px;
}

/* ---ESERCIZIO 6--- */

.ex-6-img {
  transition: none;
}

.ex-6-img:hover {
  filter: grayscale(100%);
}

/* ---ESERCIZIO 7--- */

.ex-7-img:hover {
  filter: grayscale(100%);
}

/* ---ESERCIZIO 8--- */

.ex-8-img:hover {
  border-radius: 70px;
  filter: blur(3px) brightness(0);
}

/* ---ESERCIZIO 9--- */


.ex-9-img {
width: 400px;
height: 250px;
transition: width height 5s;
top: 0;
left: 0;
}

.ex-9-img:hover {
  border-radius: 70px;
  width: 550px;
  height: 350px;
  filter: brightness(100%) ;
  margin: 0;
}

/* ---ESERCIZIO 10--- */

.ex-10-icon {
animation-name: antiorario ;
animation-iteration-count: infinite;
animation-duration: 1s;
animation-timing-function: linear;
}

@keyframes antiorario {
  0% {
  transform: rotate(0deg);
  }

  50% {
  transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* ---ESERCIZIO 11--- */

.ex-11-icon:hover {
  animation-name: orario;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes orario {
  0%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(180deg);
  }

  75%{
    transform: rotate(270deg);
  }
}
/* ---ESERCIZIO 12--- */

.ex-12-button:hover .ex-12-top-white {
  animation-name: start-to-end ;
  animation-duration: 3s;
  transition-timing-function: linear;
}

@keyframes start-to-end {
  0% {
    left: 10%;
  }
  50% {
    left: 68%;
  }
  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: end-to-start ;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transition-timing-function: linear;
}

@keyframes end-to-start {
  0% {
    right: 20%;
  }
  50% {
    right: 68%;
  }
  100% {
    right: 20%;
  }
}

/* ---ESERCIZIO 13--- */

.ex-13-button:hover .ex-13-top-white {
  animation-name: top-turn-around ;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transition-timing-function: linear;
}

@keyframes top-turn-around {
  0% {
    left: 10%;
    top: -10px;
  }

  20% {
    left: 90%;
    top: -10px;
  }

  40% {
  left: 90%;
  top: 50px;
  }

  60% {
    left: -10%;
    top: 50px;
  }

  80% {
    left: -10%;
    top: -10px;
  }

  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: bottom-turn-around ;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transition-timing-function: linear;
}

@keyframes bottom-turn-around {
  0% {
    right: 20%;
    bottom: -10px;
  }

  20% {
    right: 80%;
    bottom: -10px;
  }

  40% {
  right: 80%;
  bottom: 60px;
  }

  60% {
    right: -10%;
    bottom: 60px;
  }

  80% {
    right: -10%;
    bottom: -10px;
  }

  100% {
    right: 20%;
    bottom: -10px;
  }
}
